.hero {   
        max-width: 1700px;
        height: 700px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)) ,url(../images/donuthero.jpg); 
        background-position: center;
        background-size: contain;
        margin: 0 auto;
        
        .homeTxt {
                
                padding-top: 200px;
                max-width: 850px;
                margin: 0 auto;


                .heroTitle {
                        font-family: 'Dancing Script', cursive;
                        color: #ec4747;
                        font-size: 80px;
                        padding-bottom: 20px;
                        text-align: center;
                }

                .sweetNeed {
                        font-size: 30px;
                        color: #ffaaaa;
                        padding-bottom: 80px;
                        text-align: center;
                        font-family: 'Open Sans', sans-serif;
                        
                }

                .heroBtn {
                        color: #6CBBC4;
                        background-color: white;
                        width: 170px;
                        height: 50px;
                        margin: 0 auto;
                        cursor: pointer;
                        margin-left: 330px;
                        border: none;
                
                   
                }

                .heroBtn:hover {
                        background-color: lightgray;
                }
        
        }
      
}

.squig {
        text-align: center;
      
}

.bottom-section {
        max-width: 1000px;
        margin: 0 auto;
      
        h1 {
                font-family: 'Amatic SC', cursive;
                color: #ec4747;
                font-size: 50px;
                padding-bottom: 20px;
                text-align: center;
        }

        .blogPost {
                display: flex;
                padding-bottom: 50px;
               

                .date {
                        width: 60px;
                        height: 60px;
                        background-color: #ec4747;
                        margin-right: 20px;

                        .dateTxt {
                                color: white;
                                font-size: 18px;
                                font-family: GillSans;
                                font-weight: bold;
                                display: flex;
                                flex-direction: column;
                                text-align: center;
                                padding-top: 10px;
                        }
                       
                }

                .picandTxt {
                        
                        .blogPic {
                                width: 900px;
                                height: 259px;
                                background-image: url(../images/blog1.jpg);
                                background-position: center;
                                background-size: cover;
                                
                        }

                            
                        .blogPic2 {
                                width: 900px;
                                height: 259px;
                                background-image: url(../images/blog2.jpg);
                                background-position: center;
                                background-size: cover;
                        }

                        .blogPic3 {
                                width: 900px;
                                height: 259px;
                                background-image: url(../images/blog3.jpg);
                                background-position: center;
                                background-size: cover;
                        }

                        .blogPic4 {
                                width: 900px;
                                height: 259px;
                                background-image: url(../images/blog4.jpg);
                                background-position: center;
                                background-size: cover;
                        }

                        .blogPic5 {
                                width: 900px;
                                height: 259px;
                                background-image: url(../images/blog5.jpg);
                                background-position: center;
                                background-size: cover;
                        }

                        .blogPic6 {
                                width: 900px;
                                height: 259px;
                                background-image: url(../images/blog6.jpg);
                                background-position: center;
                                background-size: cover;
                        }




                        .blogP {
                                padding-top: 10px;
                                font-size: 18px;
                                color: black;
                                max-width: 900px;
                        }
                }
              
        }

        .foodPics {
                display: flex;
                width: 1000px;
                padding-bottom: 20px;
                justify-content: space-around;

                .foodpic {
                        width: 300px;
                        height: 300px;
                        background-image: url(../images/burger.png);
                        background-position: center;
                        background-size: cover;
                        
                }

                .foodpic2 {
                        width: 300px;
                        height: 300px;
                        background-image: url(../images/wings.jpg);
                        background-position: center;
                        background-size: cover;
                }

                .foodpic3 {
                        width: 300px;
                        height: 300px;
                        background-image: url(../images/cnady.jpg);
                        background-position: center;
                        background-size: cover;
                }

                .foodpic4 {
                        width: 300px;
                        height: 300px;
                        background-image: url(../images/salad.jpg);
                        background-position: center;
                        background-size: cover;
                }

                .foodpic5 {
                        width: 300px;
                        height: 300px;
                        background-image: url(../images/steak.jpg);
                        background-position: center;
                        background-size: cover;
                }


                .foodpic6 {
                        width: 300px;
                        height: 300px;
                        background-image: url(../images/pizza.png);
                        background-position: center;
                        background-size: cover;
                }
        }
        
}

@media only screen and (max-width: 1060px) {
    .hero {
            padding:10px;
            margin-top: 20px;

            .homeTxt {

                .heroBtn {
                      margin: 0 auto;
                      margin-left: 150px;
                }
            }

            
    }

    .bottom-section {

        .blogPost {
                flex-direction: column;

        }
    }

        .foodPics {
                flex-direction: column;
                padding-left: 90px;
                
        }
}
